<footer class="nav bg-primary navbar-fixed-bottom" style="padding:2px;">
       <div class="rounded-social-buttons">
          <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-f"></i></a>
          <a class="social-button twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
          <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a class="social-button whatsapp" href="https://wa.me/254740664839" target="_blank"><i class="fa fa-whatsapp"></i></a>
     </div>
	 <hr/>
	 <p class="copyright-text centerContent">Copyright &copy;2020 All rights reserved Advertjet</p>
</footer> 

